<div class="booking-section">
  <h1>Let's ride!</h1>

  <form [formGroup]="rideForm" class="booking-form">

    <div class="input-wrapper">
      <div class="input-group">
        <div class="input-icon">⚫</div>
        <input
          type="text"
          placeholder="Choose start location"
          class="location-input"
          formControlName="startLocation">
      </div>

      @if (showStartSuggestions && startSuggestions.length > 0) {
      <div class="suggestions">
        @for (suggestion of startSuggestions; track suggestion.place_id) {
      <div class="suggestion-item" (click)="selectStartSuggestion(suggestion)">
        {{ suggestion.display_name }}
      </div>
      }
      </div>
      }
    </div>

    <div class="input-wrapper">
      <div class="input-group">
        <div class="input-icon">⬛</div>
        <input
          type="text"
          placeholder="Choose end location"
          class="location-input"
          formControlName="endLocation">
      </div>

      @if (showEndSuggestions && endSuggestions.length > 0) {
      <div class="suggestions">
        @for (suggestion of endSuggestions; track suggestion.place_id) {
      <div class="suggestion-item" (click)="selectEndSuggestion(suggestion)">
        {{ suggestion.display_name }}
      </div>
      }
      </div>
      }
    </div>

    <div class="button-group">
      <button type="button" class="book-ride-btn" (click)="onCalculate()" [disabled]="rideForm.invalid">
        Calculate
      </button>

      <button type="button" class="refresh-btn" (click)="clearRoute()">
        Reset
      </button>
      <button type="button" class="refresh-btn" (click)="refreshDriverLocations()">
        🔄 Drivers
      </button>
    </div>

    <div *ngIf="showRideInfo && modalEstimatedTime" class="ride-info">
      <span class="time">{{ modalEstimatedTime }}</span>
    </div>


  </form>
</div>
