<div class="icon-sidebar">
  <button class="icon-btn" (click)="goHome()">🏠</button>

 
    <button
      class="icon-btn"
      (click)="goDriverRegister()"
      title="Register Driver">
      📝
    </button>
  

  @if (isNotGuest) {
    <button class="icon-btn" (click)="goMessages()">💬</button>
    <button class="icon-btn" (click)="goHistory()">🚗</button>
  }

  <div class="spacer"></div>

  @if (isNotGuest) {
    <button class="icon-btn" (click)="goProfile()">👤</button>
    <button class="icon-btn" (click)="goLogin()">🔐</button>
  }
</div>
