version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: uber-mysql
    environment:
      MYSQL_DATABASE: uberdb
      MYSQL_USER: uberuser
      MYSQL_PASSWORD: uberpass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
